.App {
  text-align: center;
}
.title {
  margin-bottom: 15px;
  background-color: rgb(90, 223, 178);
}
.button {
  padding: 10px;
  background-color: rgb(90, 223, 178);
  border: none;
  border-radius: 15px;
  margin-top: 15px;
}
.text {
  margin-bottom: 20px;
}
.quores-wrap {
  padding-top: 15px;
  width: 50%;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
}
